.custom {
  background-color: #26ffdf;
  padding: 15px;
  border-radius: 5px;
}

.custom:hover {
  /* padding: 20px; */
  background-color: #60ffe7;
}

@media screen and (max-width: 1050px) {
  .custom {
    background-color: #26ffdf;
    padding: 5px;
    border-radius: 5px;
  }
}
